---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Icon } from 'astro-icon/components'
import { getAllPosts, sortMDByDate } from '@/utils'
import { NAME, ABOUT, POST, EXPERIENCE, SKILL } from '@/consts'

const languages = ['lorem', 'ipsum']
const frontend = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']
const backend = ['lorem', 'ipsum', 'lorem', 'ipsum']
const others = ['lorem', 'ipsum', 'lorem', 'ipsum', 'lorem']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Icon width={100} height='auto' background='#AAA' name='fa-solid:cat' />

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>{NAME}</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='软件开发者'>
						<Icon width={20} height={20} name='mingcute:bug-line' />
					</Label>
					<Label title='中国'>
						<Icon width={20} height={20} name='mingcute:location-3-fill' />
					</Label>
					<a
						class='inline-block transition-all hover:text-muted-foreground/75'
						href='https://www.github.com/xiaosan-dev'
					>
						<Label title='Github' as='div' href='https://github.com/xiaosan-dev' target='_blank'>
							<Icon width={20} height={20} name='mingcute:github-line' />
						</Label>
					</a>
				</div>
			</div>
		</section>

		<Section title={ABOUT}>
			<p class='text-muted-foreground'>小伞是一只可爱的小猫！</p>
		</Section>
		{
			allPostsByDate.length > 0 && (
				<Section title={POST}>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title={EXPERIENCE}>
			<Card heading='程序员' subheading='搬砖' date='2014 - 2024'>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>努力写bug中...</li>
				</ul>
			</Card>
		</Section>

		<Section title={SKILL}>
			<SkillLayout title='语言' skills={languages} />
			<SkillLayout title='前端' skills={frontend} />
			<SkillLayout title='后端' skills={backend} />
			<SkillLayout title='移动端' skills={backend} />
			<SkillLayout title='其他' skills={others} />
		</Section>
	</div>
</PageLayout>
